<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download Video</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="/script.js" defer></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="..public/images/download-icon.png"
    />
  </head>
  <body>
    <div class="content-wrapper" style="display: flex; justify-content: center">
      <div style="text-align: center">
        <h1>Video Title:</h1>
        <p><%= title %></p>
        <div style="background-position: center; background-size: cover">
          <img
            style="display: block; margin: 1rem auto 1rem auto"
            src="<%= thumbnail %>"
            alt="Video thumbnail"
            height="500"
            width="1000"
          />
        </div>
        <div class="vid-duration">
          <p>
            Video duration: <span id="vid-duration"><%= videoDuration %></span>
          </p>
          <span style="font-style: italic; display: none" id="duration-message"
            >We suggest you to use lower resolution to save data for long
            videos.</span
          >
        </div>
        <h1 style="text-align: center">Choose resolution:</h1>
        <div class="resolution-container">
          <div class="resolution">
            <div class="resolution-text">
              <p>4K 60fps</p>
            </div>
            <div class="resolution-button">
              <a href="/fetch-mp4-4k?videoURL=<%= encodeURIComponent(url) %>">
                <button class="button-effect">Download video</button>
              </a>
            </div>
          </div>
          <div class="resolution">
            <div class="resolution-text">
              <p>1080p</p>
            </div>
            <div class="resolution-button">
              <a
                href="/fetch-mp4-1080p?videoURL=<%= encodeURIComponent(url) %>"
              >
                <button class="button-effect">Download video</button>
              </a>
            </div>
          </div>
          <div class="resolution">
            <div class="resolution-text">
              <p>720p</p>
            </div>
            <div class="resolution-button">
              <a href="/fetch-mp4-360p?videoURL=<%= encodeURIComponent(url) %>">
                <button class="button-effect">Download video</button>
              </a>
            </div>
          </div>
          <div class="resolution">
            <div class="resolution-text">
              <p>480p</p>
            </div>
            <div class="resolution-button">
              <a href="/fetch-mp4-360p?videoURL=<%= encodeURIComponent(url) %>">
                <button class="button-effect">Download video</button>
              </a>
            </div>
          </div>
          <div class="resolution">
            <div class="resolution-text">
              <p>360p</p>
            </div>
            <div class="resolution-button">
              <a href="/fetch-mp4-360p?videoURL=<%= encodeURIComponent(url) %>">
                <button class="button-effect">Download video</button>
              </a>
            </div>
          </div>
        </div>
        <br /><br />
        <a href="/video-downloader" class="four04-anchor"
          >Download another video</a
        >
      </div>
    </div>
  </body>
</html>
